<div ng-include="'components/navbar/navbar.html'"></div>

<header id="banner" class="alert alert-info">
  <div class="container">
    <h3>Buscador de Maquinas Homecenter <div class="ui-icon-search"></div></h3>
  </div>
</header>

<div class="container alert alert-success" ng-controller="BusquedaCtrl">
  <div class="row">
    <div class="col-lg-12" >
      <label>Ingresa el nombre o la descripcion</label>
      <input type="text" placeholder="Ejemplo: Cortadora"  ng-change="busqueda()" ng-model="terminoBusqueda"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr/>
      <label ng-if="maquinas.length == 0 "> El nombre o descripcion <i>"{{terminoBusqueda}}"</i> no coincide.. </label>
      <div ng-if="maquinas.length != 0 ">
        <label>Resultados: </label>
        <table class="table table-hover text-center">
            <tr ng-repeat="maquina in maquinas">
               <td class="col-md-3">
                <img alt="" src="../assets/images/{{maquina.imagen}}">
              </td>
              <td class="col-md-5 text-left">
                <div class="alert alert-info">Nombre: {{maquina.nombre}}</div>
                <div class="alert alert-danger">Precio: {{maquina.precio}}</div>
                <div>Descripcion: {{maquina.descripcion}}</div>
              </td>
              <td class="col-md-4">
                <button class="btn btn-warning" ng-click="go(maquina.id)">Ver Detalle</button>
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<footer class="footer alert alert-info">
  <div class="container">
      <p>Buscador Maquinas Homecenter |
        <a href="https://twitter.com/santiago1393">@santiago1393</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Desarollador</a></p>
  </div>
</footer>
